
  <div class="page">
    <div class="navbar" style="background: #9B59B6; color: white">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back" style="color: white">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Pengaturan Printer</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list">
        <div class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Pilih Printer</div>
            <div class="item-input-wrap">
              <select placeholder="Please choose..." id="cbojk" class="input-with-value">
                <option value="Laki-laki">BT-Printer 032</option>
                <option value="Perempuan">BT-Cannon F32</option>
              </select>
            </div>
          </div>
        </div>
        <div class="block">
          <p class="row">
            <button class="button button-large button-fill bg sheet-open" href="#" data-sheet=".my-sheet-swipe-to-step"><span>SIMPAN</span></button>
          </p>
        </div>
      </div>
    </div>
  </div>

<style>
  .rotate-icon {
    transform: rotate(90deg);
  }
</style>
<script>
  export default (props, { $, $on }) => {
    let $toolbarEl;

    const togglePosition = () => {
      $toolbarEl.toggleClass('toolbar-bottom toolbar-top');
    }

    $on('pageInit', (e, page) => {
      $toolbarEl = page.$el.find('.toolbar');
    });

    return $render;
  }

</script>

<!-- 
	<div class="statusbar"></div>
	<div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
		<div class="page">
			<div class="navbar" style="background: #9B59B6; color: white">
				<div class="navbar-inner">
					<div class="left">
						<a class="link back" onclick="app.popup.close()">
		                    <i class="icon icon-back" style="color: #fff;"></i>
		                </a>
					</div>
					<div class="title sliding">Laporan</div>
				</div>
			</div>
			<div class="toolbar tabbar toolbar-bottom">
		      <div class="toolbar-inner">
		        <a href="/transaksi/" onclick="app.popup.close()" class="tab-link" style="padding-top: 6px;"><span class="material-icons"> content_paste </span> Transaksi</a>
		        <a href="/laporan/" class="tab-link tab-link-active" style="padding-top: 6px;"><span class="material-icons"> history </span> Laporan</a>
		      </div>
		    </div>
			<div class="page-content">
				<div class="list">
					
				</div>
			</div>
		</div>
	</div>

<script>

return{
	on: {
	},
	methods: {
		// savedata: function(){
		// 	var kode = $("#txtkode").val();
		// 	var nama = $("#txtnama").val();
		// 	var harga = $("#txtharga").val();
		// 	if(kode == "" || nama == "" || harga == ""){
		// 		app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
		// 		return;
		// 	}
		// 	db.transaction(function(tx){
		// 		tx.executeSql("INSERT INTO barang VALUES(?,?,?)", [kode, nama, harga],
		// 		function(tx){
		// 			app.dialog.alert("Data Berhasil di Tambahkan","Berhasil");
		// 			app.views.main.router.back();
		// 		},
		// 		function(){
		// 			app.dialog.alert("Data Gagal di Tambahkan","Gagal");
		// 		});
		// 	});
		// }
	}
}
</script> -->