
  <div class="page">
    <div class="navbar" style="background: -webkit-linear-gradient(left, #16d272, #01baef); color: white">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back" style="color: white">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Informasi Kios</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list">
        <div class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Nama Toko</div>
            <div class="item-input-wrap">
              <input type="text" id="toko" class="toko" placeholder="Masukkan Nama Toko">
            </div>
          </div>
        </div>
        <div class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Alamat</div>
            <div class="item-input-wrap">
              <input type="text" id="alamat_toko" placeholder="Masukkan Alamat">
            </div>
          </div>
        </div>
        <div class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">No Telepon</div>
            <div class="item-input-wrap">
              <input type="email" id="no_tlp" placeholder="Masukkan No Telepon">
            </div>
          </div>
        </div>
        <div class="block">
          <p class="row">
            <button class="button button-large button-fill bg sheet-open" @click="simpan_toko"><span>SIMPAN</span></button>
          </p>
        </div>
      </div>
    </div>
  </div>

<script>
function simpan_toko() {
 
}
return{
  on: {
    simpan_toko: function(){
      alert("Berhasil");
    }
  },
  methods: {
    simpan_toko: function(){
      alert("Berhasil");
    }
  }
}
</script>
<!-- 
	<div class="statusbar"></div>
	<div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
		<div class="page">
			<div class="navbar" style="background: #9B59B6; color: white">
				<div class="navbar-inner">
					<div class="left">
						<a class="link back" onclick="app.popup.close()">
		                    <i class="icon icon-back" style="color: #fff;"></i>
		                </a>
					</div>
					<div class="title sliding">Laporan</div>
				</div>
			</div>
			<div class="toolbar tabbar toolbar-bottom">
		      <div class="toolbar-inner">
		        <a href="/transaksi/" onclick="app.popup.close()" class="tab-link" style="padding-top: 6px;"><span class="material-icons"> content_paste </span> Transaksi</a>
		        <a href="/laporan/" class="tab-link tab-link-active" style="padding-top: 6px;"><span class="material-icons"> history </span> Laporan</a>
		      </div>
		    </div>
			<div class="page-content">
				<div class="list">
					
				</div>
			</div>
		</div>
	</div>

 -->