<template>
	<div class="page">
		<div class="navbar" style="background: #9B59B6; color: white">
			<div class="navbar-inner">
				<div class="left">
					<a class="link back" onclick="app.popup.close()">
	                    <i class="icon icon-back" style="color: #fff;"></i>
	                </a>
				</div>
				<div class="title sliding">Tambah Data</div>
			</div>
		</div>
		<div class="page-content">
			<div class="list">
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Kode Barang</div>
						<div class="item-input-wrap">
							<input type="text" id="txtkode" class="frmtambah" placeholder="Masukkan kode barang">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Nama Barang</div>
						<div class="item-input-wrap">
							<input type="text" id="txtnama" class="frmtambah" placeholder="Nama Barang">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Harga Barang</div>
						<div class="item-input-wrap">
							<input type="number" id="txtharga" class="frmtambah" placeholder="Harga Barang">
						</div>
					</div>
				</div>
				<div class="block">
					<p class="row">
						<button type="button" class="col button button-outline color-green" onclick="$('.frmtambah').val('')">Reset</button>
						<button type="button" class="col button button-fill color-green"  @click="savedata">Simpan</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

return{
	on: {
	},
	methods: {
		savedata: function(){
			var kode = $("#txtkode").val();
			var nama = $("#txtnama").val();
			var harga = $("#txtharga").val();
			if(kode == "" || nama == "" || harga == ""){
				app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
				return;
			}
			db.transaction(function(tx){
				tx.executeSql("INSERT INTO barang VALUES(?,?,?)", [kode, nama, harga],
				function(tx){
					app.dialog.alert("Data Berhasil di Tambahkan","Berhasil");
					app.views.main.router.back();
				},
				function(){
					app.dialog.alert("Data Gagal di Tambahkan","Gagal");
				});
			});
		}
	}
}
</script>